$labelWidth: 55px;

.input-group{
    width:90%;
    margin:auto;
}
.input-group-addon{
    width: $labelWidth;
    max-width:$labelWidth;
    min-width:$labelWidth;
}

button {
    width: 100px;
}

button.btn.btn-success{
    outline: none;
}

input#start {
    outline: none;
}

input#end{
    outline: none;
}