
<h4>3. Select display period:</h4>
<form (ngSubmit)="setPeriod()" #calendarForm="ngForm">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">From</span>
            <input type='date'
                class="form-control"
                id="start"
                required
                [(ngModel)]="start" 
                name="start"
                #name="ngModel">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">To</span>
            <input type='date'
                class="form-control"
                id="end"
                required
                [(ngModel)]="end" 
                name="end"
                #name="ngModel">
        </div>
    </div>
    <div class="form-group set-period">
        <button type="submit" 
                class="btn btn-lg btn-success"
                [disabled]="!calendarForm.form.valid">
                Proceed
        </button>
    </div>    
</form>
