/*tr {
    border: 1px solid red;
}*/
td.vacation{
    background-color: steelblue;
}

td.public-holiday{
    background-color: darkred;
}

td.training{
    background-color: darkslategrey;
}

td.present{
    background-color: green;
}