$vacColor: #868686;
$trainColor: #4b7704;
$holColor: #b220a3;
$menuWidth: 250px;

.menu-bar {
    width: $menuWidth;
    max-width: $menuWidth;
    min-width: $menuWidth;
}
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

input#start{
    width: 150px;
}

input#end{
    width: 150px;
}

td{ 
    border: 1px solid #ADADAD;
    padding: 3px 10px;
    // color: grey;
    &.vacation{
        color: white;
        background-color: $vacColor;
    }
    &.training{
        color: white;
        background-color: $trainColor;
    }
    &.holiday{
        color: white;
        background-color: $holColor;
    } 
}