@import './menu-base.scss';

.menu-bar {
    width: $menuWidth;
    max-width: $menuWidth;
    min-width: $menuWidth;
    text-align: center;
}
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

select{
    width:230px;
}
