<div class='menu-bar'>
  <div class="card menu-bar">
    <div class="card-header">Menu</div>
    <div class="card-block">
        <h4>Select user:</h4>
        <select [ngModel]='user.userid' name='userid' 
                class='form-control'
                (ngModelChange) = 'setUser($event)'
                required>
          <option 
                *ngFor='let i of userList' 
                [value]='i.userid'>
                <strong>{{i.nick}}</strong> {{i.name}} 
          </option>
        </select>
      <hr>  
      <app-absence-type></app-absence-type>
      <hr>
      <div>
          <app-options (periodUpdated)=setPeriod($event)></app-options>
      </div>    
    </div>
  </div>        
</div>
