@import './menu-base.scss';



.menu-bar {
    width: $menuWidth;
    max-width: $menuWidth;
    min-width: $menuWidth;
    text-align: center;
}
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

select{
    width:230px;
}

.menu-legend{
    margin: 10px auto;
}

td{ 
    width: 230px;
    padding: 3px 10px;
    &.available{
        background-color: $presColor;
        color:$vacColor;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    &.vacation{
        color: white;
        background-color: $vacColor;
    
    }
    &.training{
        color: white;
        background-color: $trainColor;
    }
    &.holiday{
        color: white;
        background-color: $holColor;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px
    } 
}