<div class='menu-bar'>
  <p>
    Welcome <strong>{{getName()}}</strong>
  </p>
  <p>Log in as
    <select #name="ngModel" 
            [(ngModel)]='userid' 
            required>
      <option *ngFor='let usr of users' [value]='usr.userid'>{{usr.name}}</option>
    </select>
  </p>  
  <hr>  
  <app-absence-type></app-absence-type>
  <hr>
  <div>
      <app-options (periodUpdated)=setPeriod($event)></app-options>
  </div>    
  <hr>
  
  <h4>Legend:</h4>
  <div>
    <table class='menu-legend'>
      <tr>
        <td class='available'>Available</td>
      </tr>
      <tr>
        <td class='vacation'>Vacation</td>
      </tr>
      <tr>
        <td class='training'>Training</td>
      </tr>
      <tr>
        <td class='holiday'>Public holiday</td>
      </tr>
    </table>
  </div>
</div>
