<div class="dataTable" *ngIf='displayTable && displayTable.length > 0'>
    <app-clash [clashes]='clashes'></app-clash>
    <table 
        cellspacing='0' 
        cellpadding='0'
        class='fixed-header'>
        <thead>
            <tr>
                <th class='period'>Period</th>
                <th *ngFor="let column of columns"
                    colspan=2  
                    [class.current]='isCurrentUser(column.userid)' 
                    class='username'>
                    {{column.nick}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of displayTable">
                <td class='period'>{{row.date | date:'dd-MMM-yyyy'}}</td>
                <td *ngFor="let cell of row.absData" 
                    class='cell' 
                    (click)='onCellClick(row.date,cell)'
                    [class.vac]='cell.value === "V"'
                    [class.train]='cell.value === "T"'
                    [class.hol]='cell.value === "P"'
                    [class.pres]='cell.value === ""'>
                </td>
            </tr>
        </tbody>
    </table>
</div>
