@import '../menu/menu-base.scss';
$table-border: 1px solid grey;
$table_body_height: 70vh;
$column_one_width: 100px;
$cell-size:15px;

.form-group {
    margin-right: 30px;
}

.btn.clash {
    margin: 10px;
}

span.clash-date {
    margin: 0 5px;
}

div.card {
    width: 60vw;
}

table {
    border-collapse: separate;
    table-layout: fixed;
}


thead {
    tr {
      display: block;
      position: relative;
    }
}

th.username {
    font-size: 10px;
    width: 30px;
    min-width: 30px;
    text-align: center;
    border: $table-border;
    border-radius: 5px;
    &.current{
        background-color: #5bc0de;
    }
}


tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: $table_body_height;
    &:before {
        content: "-";
        display: block;
        line-height: 0.5em;
        color: transparent;
    }
}

tr:nth-child(1){
    td.cell{
        border-top: $table-border;
    }
}

td {
    &.period {
        font-size: 12px;
    }
    &.cell {
        min-height: $cell-size;
        min-width:$cell-size;
        margin: 0;
        padding: 0;
        border-bottom: $table-border;
        &:nth-last-child(1){ border-right: $table-border;}
        &:nth-child(even){ border-left: $table-border;}
        &.pres{ background-color: $presColor; }
        &.vac{ background-color: $vacColor; }
        &.train{ background-color: $trainColor; }
        &.hol{ background-color: $holColor; }
    }
}

td:nth-child(1), th:nth-child(1) { 
    min-width: $column_one_width; 
}

.btn.clash{
    width: 150px;
    min-width: 150px;
}