$basecolor: '#FAFAFA';

.form-group {
    margin-right: 30px;
}

table {
    border-collapse: separate;
}

th.username {
    font-size: 10px;
    width: 30px;
    min-width: 30px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    &.current{
        background-color: #5bc0de;
    }
}

tbody:before {
    content: "-";
    display: block;
    line-height: 0.5em;
    color: transparent;
}

tr:nth-child(1){
    td.cell{
        border-top: 1px solid grey;
    }
}

td {
    &.period {
        font-size: 12px;
        width: 110px;
        min-width:110px;
    }
    &.cell {
        height: 15px;
        width: 15px;
        min-width:15px;
        max-height:15px;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid grey;
        &:nth-last-child(1){
            border-right: 1px solid grey;
        }
        &:nth-child(even){
            border-left: 1px solid grey;
        }
    }
}


